Django==3.2.24
django-confy==1.0.4
whitenoise==5.3.0
git+https://github.com/dbca-wa/dbca-utils.git@3607631#egg=dbca-utils
aws-requests-auth==0.4.3
gunicorn==21.2.0
gevent==22.10.2
django-encrypted-model-fields==0.6.5
ipaddress==1.0.23
django-model-utils==4.3.1
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
django-cron==0.6.0
git+https://github.com/dbca-wa/wagov_utils.git#egg=wagov_utils
six==1.16.0
django-nested-inline==0.4.6
packaging==23.2
xlsxwriter==3.1.9
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
python-decouple==3.8
cryptography==41.0.7
pillow==10.2.0
numpy==1.26.3
setuptools==69.0.3
wheel==0.42.0
git+https://github.com/jasonrollins/shareplum.git@55d860b#egg=shareplum
psycopg2==2.9.9