Django~=5.2
django-confy==1.0.4
whitenoise==5.3.0
# git+https://github.com/dbca-wa/dbca-utils.git#egg=dbca-utils
dbca-utils==2.1.0
aws-requests-auth==0.4.3
gunicorn~=23.0
gevent==24.11.1
django-encrypted-model-fields==0.6.5
ipaddress==1.0.23
django-model-utils==4.3.1
git+https://github.com/dbca-wa/webtemplate2.git#egg=webtemplate_dbca
git+https://github.com/dbca-wa/django-cron#egg=django-cron
git+https://github.com/dbca-wa/wagov_utils.git#egg=wagov_utils
six==1.16.0
django-nested-inline==0.4.6
packaging==23.2
xlsxwriter==3.1.9
git+https://github.com/dbca-wa/appmonitor_client.git#egg=appmonitor_client
python-decouple==3.8
cryptography==44.0.1
pillow==10.3.0
numpy==1.26.3
setuptools==72.2.0
wheel==0.42.0
git+https://github.com/jasonrollins/shareplum.git@55d860b#egg=shareplum
psycopg2==2.9.9
idna==3.7
sqlparse==0.5.0
requests==2.32.3
pytz==2024.1
python-decouple==3.8
