{% extends 'appmonitor/base.html' %}

{% load static %}

{% block extra_css %}
  
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
<div class="container">
    <!-- Messages  -->
    {% if messages %}
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warn' %}warning{% endif %}           {% endif %}">
                        {{ message|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
    <div class="row">
        <div class='col-12'>
            {% if time_differnce_last_job > 15 %}
                <div class="alert alert-danger" role="alert">
                     ERROR: The run_monitor_checks.py job has not run in {{time_differnce_last_job}} minutes.
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary">
                UNKNOWN <span class="badge bg-light text-dark" id='total-unknown'>0</span>
            </button>

            <button type="button" class="btn btn-danger">
                DOWN <span class="badge bg-light text-dark" id='total-down'>0</span>
            </button>

            <button type="button" class="btn btn-warning">
                WARN <span class="badge bg-light text-dark" id='total-warn'>0</span>
            </button>

            <button type="button" class="btn btn-success">
                UP <span class="badge bg-light text-dark" id='total-up'>0</span>
            </button>
            <BR><BR>
        </div>
        <div class="col-md-6 text-end">
            <div class="col-md-12">          
                <b>Current Time</b>: {{ current_time }}
            </div>
            <div class="col-md-12">                      
                <b>Last Job Run</b>: {{ last_job_run }}

           </div>     

        </div>

        <div class="col-md-12">
            {% if request.user.is_authenticated %}            
            <table id="sensorlist-table" class="table" style="width:100%">
                <thead class='table-dark'>
                    <tr>
                        <th>Status</th>   
                        <th>Check Name</th>
                        <th>Check Type</th>                                             
                        <th>Last Status Change</th>                        
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id='sensorlist-tbody'>
                    <tr>
                        <td colspan="5" class='text-center'>No Results</td>
                    </tr>
                </tbody>
            </table>
            <div id=''><div>
            <script>
                appmonitor.init();
            </script>
            <style>
                .status-box-white {
                    color: #FFF;
                    padding: 3px;   
                    font-weight: bold;
                    border-radius: 4px;             
                    width: 70px;
                    text-align: center;                  
                    height: 30px;
                }
                .status-box-black {
                    color: #000;
                    padding: 3px;   
                    font-weight: bold;
                    border-radius: 4px;                                 
                    width: 70px;
                    text-align: center;
                    height: 30px;
                }


            </style>
            {% else %}
            You are not authenticated.
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}