{% extends 'appmonitor/base.html' %}

{% load static %}

{% block extra_css %}
  
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
{% if access_type.view_monitor_status_access is True %}
<input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
<input type="hidden" id="edit_access_monitoring" name="edit_access_monitoring" value="{{ access_type.edit_access_monitoring }}"/>

    <div class="container">
        <!-- Messages  -->
        {% if messages %}
                <div class="row">
                    <div class="col">
                        {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warn' %}warning{% endif %}           {% endif %}">
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
        <div class="row">
            <div class='col-12'>
                {% if time_differnce_last_job > 15 %}
                    <div class="alert alert-danger" role="alert">
                        ERROR: The run_monitor_checks.py job has not run in {{time_differnce_last_job}} minutes.
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary">
                    UNKNOWN <span class="badge bg-light text-dark" id='total-unknown'>0</span>
                </button>

                <button type="button" class="btn btn-danger">
                    DOWN <span class="badge bg-light text-dark" id='total-down'>0</span>
                </button>

                <button type="button" class="btn btn-warning">
                    WARN <span class="badge bg-light text-dark" id='total-warn'>0</span>
                </button>

                <button type="button" class="btn btn-success">
                    UP <span class="badge bg-light text-dark" id='total-up'>0</span>
                </button>
                <BR><BR>
            </div>
            <div class="col-md-3 text-start">
                <div class='col-md-12'><b>Response Type (RT)</b> <br><span style="color: #FFF;padding: 2px;">☎️</span> = <span>On Call</span> <br><span style="color: #FFF; padding: 2px;">🕘</span> = <span>Business Hours</span></div>
            </div>
            <div class="col-md-3 text-end">
                <div class="col-md-12">          
                    <b>Current Time</b>: <span id='current-server-time'>{{ current_time }}</span>
                </div>
                <div class="col-md-12">                      
                    <b>Last Job Run</b>: <span id='last-job-run-time'>{{ last_job_run }}</span>
            </div>
            </div>
            <div class="row" style='height: 50px;'>
                <div class="col-md-12 text-center">
                    <div id='loading-progress'></div>
                </div>

            </div>           
            
            {% include "appmonitor/monitoring_new.html" with formstatus="new" %}
            {% include "appmonitor/monitoring_change.html" with formstatus="new" %}
            <div class="row">
                <div class="col-3">
                    <h4>Monitoring</h4>
                </div>
                <div class="col-9 text-end p-2" >
                    <div class='row' >
                        <div class='col-1 text-start p-2 fw-bold' style='background-color: #f7f7f7;'>
                            Filters
                        </div>

                        <div class='col-3 pt-1 pb-1' style='background-color: #f7f7f7;'>
                            
                                
                                <input type="email" class="form-control" id="live-keyword-monitor" placeholder="Keyword">
                              
                                                     
                        </div>                        
                        <div class='col-3 pt-1 pb-1' style='background-color: #f7f7f7;'>

                                <input class="form-check-input" type="checkbox" value="" id="live-inactive-monitor">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Include Inactive
                                </label>
                                                         
                        </div>
                        <div class='col-3 text-end pb-1 pt-1' style='background-color: #f7f7f7;'>

                            <select class="form-select" id='live-responsiblegroup-monitor' aria-label="Select a Responsible Group">
                                <option value='' selected >All Groups</option>
                                {% for rp in responsible_group %}
                                <option value="{{ rp.id }}">{{ rp.group_name }}</option>
                                {% endfor %}    
                            </select>
                        </div>
                        <div class='col-2 text-end'>
                            {% if access_type.edit_access_monitoring is True %}
                                <button type="button" class="btn btn-sm btn-primary" id='new_monitoring_btn'>New Monitoring</button><br>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>       
              
            <div class="col-md-12">
                {% if request.user.is_authenticated %}            
                <table id="sensorlist-table" class="table" style="width:100%">
                    <thead class='table-dark'>
                        <tr>
                            <th>Status</th>   
                            <th>Active</th>
                            <th>SystemID</th>
                            <th alt="Response Type" title="Response Type">RT</th>
                            <th>Check Name</th>
                            <th>Check Type</th>
                            <th>Responsible Group</th>                                             
                            <th>Last Status Change</th>                        
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id='sensorlist-tbody'>
                        <tr>
                            <td colspan="5" class='text-center'>No Results</td>
                        </tr>
                    </tbody>
                </table>
                
                <script>
                    appmonitor.init();
                </script>
                <style>
                    .status-box-white {
                        color: #FFF;
                        padding: 3px;   
                        font-weight: bold;
                        border-radius: 4px;             
                        width: 70px;
                        text-align: center;                  
                        height: 30px;
                    }
                    .status-box-black {
                        color: #000;
                        padding: 3px;   
                        font-weight: bold;
                        border-radius: 4px;                                 
                        width: 70px;
                        text-align: center;
                        height: 30px;
                    }


                </style>
                {% else %}
                You are not authenticated.  Please login
                
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
<div class="container">

    <div class='alert alert-danger'>Access Forbidden</div>
</div>
{% endif %}

{% endblock %}
