{% extends 'appmonitor/base.html' %}

{% load static %}

{% block extra_css %}
  
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}

<div class="container">
    <!-- Messages  -->
    <h3>Package Status</h3>
    <br>
    {% if messages %}
            
            <div class="row">
                <div class="col">
                    {% for message in messages %}
                    <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warn' %}warning{% endif %}           {% endif %}">
                        {{ message|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
            {% if request.user.is_authenticated %}   
            <div class="row"style='background-color: #f8f8f8;' >
                <div class="col-4 text-end">
                    &nbsp;
                </div>
                <div class="col-8 text-end">
                    <div class='col-12' >
                        <div class="mb-3 row">
                            <div class="col-4">
                                &nbsp;
                            </div>

                            <div class="col-4">
                                &nbsp;
                                <input class="form-check-input" type="checkbox" id="only_vulnerable" value="option1">
                                <label class="form-check-label" for="OnlyVulnerable">Only Vulnerable </label>
   
                            </div>
                            <div class="col-4">
                                <input class="form-check-input" type="checkbox" id="exact_match" value="option1">
                                <label class="form-check-label" for="ExactMatch">Exact Match </label>
                            </div>

                        </div>
                    </div>
                    <div class='col-12' >
                        <div class="mb-3 row">
                            <div class='col-4' >
                                <label for="staticEmail" class="col-sm-4 col-form-label">Package Search</label>
                            </div>
                            <div class="col-4" >
                                <input type="text"  class="form-control" id="package_search" value="">
                            </div>

                            <div class="col-4 text-center"  >
                                <button type="submit" id="package_search_btn" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>        
            <br>             
            <table id="platformpackageslist-table" class="table" style="width:100%">
                <thead class='table-dark'>
                    <tr>
                        <th>System Name</th>   
                        <th>Package Name</th>
                        <th>Package Version</th>
                        <th>Python Version</th>
                        
                        <th>Vulnerabilities</th>
                        <th>Responsible Group</th>                                             
                        <th>Last Updated</th>                        
                        
                    </tr>
                </thead>
                <tbody id='platformpackageslist-tbody'>
                    <tr>
                        <td colspan="8" class='text-center'>No Results</td>
                    </tr>
                </tbody>
            </table>
            
            <script>
                appmonitor_packages.init();
            </script>
            <style>
                .status-box-white {
                    color: #FFF;
                    padding: 3px;   
                    font-weight: bold;
                    border-radius: 4px;             
                    width: 70px;
                    text-align: center;                  
                    height: 30px;
                }
                .status-box-black {
                    color: #000;
                    padding: 3px;   
                    font-weight: bold;
                    border-radius: 4px;                                 
                    width: 70px;
                    text-align: center;
                    height: 30px;
                }


            </style>
            {% else %}
            You are not authenticated.  Please login
            
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}  