{% extends 'appmonitor/base.html' %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}
{% if access_type.view_access_platform_status is True %}
    <div class="container">
        <!-- Messages  -->
        {% if messages %}
        <div class="row">
            <div class="col">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warn' %}warning{% endif %}           {% endif %}">
                    {{ message|safe }}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% if request.user.is_authenticated %}      
                <h5>{{ platform_obj.system_name }} ({{ platform_obj.id }})</h5>      
                <table id="platformview-table" class="table table-border" style="width:100%">
                    <tbody id='platformview-tbody'>
    
                            <tr>                        
                                <td class='bg-dark text-white'>PID</td>
                                <td class='bg-light'>{{ platform_obj.id }}</td>
                            </tr>
                            <tr>                        
                                <td class='bg-dark text-white'>System Name</td>
                                <td class='bg-light'>{{ platform_obj.system_name }}</td>
                            </tr>                        
                            <tr>                            
                                <td class='bg-dark text-white'>OS Name</td>
                                <td>{{ platform_obj.operating_system_name }}</td>
                            </tr>
                            <tr>
                                <td class='bg-dark text-white'>OS Version</td>
                                <td>{{ platform_obj.operating_system_version }}</td>
                            </tr>
                            <tr>
                                <td class='bg-dark text-white'>Python Version</td>            
                                <td>{{ platform_obj.python_version}}</td>
                            </tr>
                            <tr>
                                <td class='bg-dark text-white'>Django Version</td>            
                                <td>{{ platform_obj.django_version}}</td>
                            </tr>
                            <tr>
                                <td class='bg-dark text-white'>Responsible Group</td>            
                                <td>{{ platform_obj.group_responsible.group_name}}</td>
                            </tr>                        
                            <tr>
                                <td class='bg-dark text-white'>Updated</td>            
                                <td>{{ platform_obj.updated}}</td>
                            </tr>   
                            <tr>
                                <td class='bg-dark text-white'>Created</td>            
                                <td>{{ platform_obj.created}}</td>
                            </tr>   
                        
                    </tbody>
                </table>


                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link {% if ecosystem == 'python-packages' %}active{% endif %}" aria-current="page" href="/platform/view/{{ platform_obj.id }}/python-packages?only_vulnerable={{ only_vulnerable }}">Python Packages</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if ecosystem == 'debian-packages' %}active{% endif %}" href="/platform/view/{{ platform_obj.id }}/debian-packages?only_vulnerable={{ only_vulnerable }}">Debian Packages</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {% if ecosystem == 'node-packages' %}active{% endif %}" href="/platform/view/{{ platform_obj.id }}/node-packages?only_vulnerable={{ only_vulnerable }}">Node Packages</a>
                    </li>                    
                  </ul>
                  <br>
                  
                  {% if ecosystem == 'python-packages' %}
                    {% include "appmonitor/platform_view_python.html" %}
                  {% elif ecosystem == 'debian-packages' %}
                    {% include "appmonitor/platform_view_debian.html" %}
                  {% endif %}

                {% comment %} <div class='row p-1'>
                    <div class='col-6'>
                        <h5>Python Packages</h5>
                    </div>
                    <div class='col-6 text-end'>
                        {% if only_vulnerable == 'true' %}
                        <a href='/platform/view/{{ platform_obj.id }}/' class='btn btn-primary'>Show All</a>
                        {% else %}
                            <a href='/platform/view/{{ platform_obj.id }}/?only_vulnerable=true' class='btn btn-primary'>Show Only Vulnerable</a>
                        {% endif %}
                    </div>
                </div>
                <table id="packagelist-table" class="table" style="width:100%">
                    <thead class='table-dark'>
                        <tr>
                            <th>Package Name</th>   
                            <th>Package Version</th>
                            <th>PyPi</th>
                            <th>Vulnerable</th>
                            <th>DependaBot</th>
                            <th>Active</th>
                            <th>Updated</th>
                            <th>Created</th>
                        </tr>
                    </thead>
                    
                    <tbody id='platformlist-tbody'>
                        <tr>
                            {% if python_packages_obj|length > 0 %}
                                {% for ppo in python_packages_obj %}
                                    <tr>
                                        <td ><a href='/platform/view/{{ platform_obj.id }}/packages/{{ ppo.id }}/versions/'>{{ ppo.package_name }}</a></td>
                                        <td >{{ ppo.current_package_version }}</td>
                                        <td ><a href='https://pypi.org/project/{{ ppo.package_name }}/#history'>PyPi</a></td>
                                        <td >
                                            {% if ppo.vulnerability_total > 0 %}

                                            <a type="button" class="btn btn-danger" style='cursor: default ;' alt="Click the Package Name First">
                                            {{ ppo.vulnerability_total }}
                                            </a>    
                                            {% else %}
                                            <a type="button" class="btn btn-success" style='cursor: default ;' > 
                                                {{ ppo.vulnerability_total }}
                                            </a>                                            
                                            {% endif %}
                                            
                                            {% if ppo.git_repo_name|length > 0 %}
                                            {% if ppo.dependabot_vulnerability_total %}
                                                <a href='/platform/view/1/dependabot' class="btn btn-danger" style='cursor: default ;' alt="Click to view DependaBot">
                                                    {{ ppo.dependabot_vulnerability_total }}
                                                </a>    
                                            {% else %}
                                            <a href='/platform/view/1/dependabot' class="btn btn-danger" style='cursor: default ;' alt="Click to view DependaBot">
                                                {{ ppo.dependabot_vulnerability_total }}
                                            </a>    
                                            {% endif %}
                                                                                        
                                            {% endif %}

                                        </td>
                                        <td>
                                            {% if ppo.active is True %}
                                                <i class="bi bi-check-circle-fill" style='color: #06e806;'></i>
                                            {% else %}
                                                <i class="bi bi-x-circle-fill" style='color: red;'></i>
                                            {% endif %}
                                        </td>
                                        <td >{{ ppo.updated }}</td>
                                        <td >{{ ppo.created }}</td>
                                    </tr>                                
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="4" class='text-center'>No Results</td>
                                </tr>
                            {% endif %}
                    
                        </tr>
                    </tbody>
                </table>

                <style>
                    .status-box-white {
                        color: #FFF;
                        padding: 3px;   
                        font-weight: bold;
                        border-radius: 4px;             
                        width: 70px;
                        text-align: center;                  
                        height: 30px;
                    }
                    .status-box-black {
                        color: #000;
                        padding: 3px;   
                        font-weight: bold;
                        border-radius: 4px;                                 
                        width: 70px;
                        text-align: center;
                        height: 30px;
                    }


                </style> {% endcomment %}
                {% else %}
                You are not authenticated.
                
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
<div class="container">

    <div class='alert alert-danger'>Access Forbidden</div>
</div>
{% endif %}
{% endblock %}
