{% extends 'appmonitor/base.html' %}

{% load static %}

{% block extra_css %}
  
{% endblock %}

{% block messages %}
{% endblock %}

{% block content %}

{% if access_type.view_access_platform_status is True %}

    <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token  }}">
    <input type="hidden" id="edit_platform_access" name="edit_platform_access" value="{{ access_type.edit_platform_access }}"/>

    {% include "appmonitor/platform_new.html" %}
    {% include "appmonitor/platform_change.html" %}

    <div class="row" style='height: 50px;'>
        <div class="col-md-12 text-center">
            <div id='loading-progress'></div>
        </div>
    </div> 

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Platform Status</h3>
            </div>
            <div class="col-9 text-end">
                <div class='row' >
                    <div class='col-1 text-start p-2 fw-bold' style='background-color: #f7f7f7;'>
                        Filters
                    </div>

                    <div class='col-3 pt-1 pb-1' style='background-color: #f7f7f7;'>
                        
                            
                            <input type="email" class="form-control" id="platform-keyword-monitor" placeholder="Keyword">
                          
                                                 
                    </div>                        
                    <div class='col-3 pt-1 pb-1' style='background-color: #f7f7f7;'>

                            <input class="form-check-input" type="checkbox" value="" id="platform-inactive-monitor">
                            <label class="form-check-label" for="flexCheckDefault">
                                Include Inactive
                            </label>
                                                     
                    </div>
                    <div class='col-3 text-end pb-1 pt-1' style='background-color: #f7f7f7;'>

                        <select class="form-select" id='platform-responsiblegroup-monitor' aria-label="Select a Responsible Group">
                            <option value='' selected >All Groups</option>
                            {% for rp in responsible_group %}
                            <option value="{{ rp.id }}">{{ rp.group_name }}</option>
                            {% endfor %}    
                        </select>
                    </div>
                    <div class='col-2 text-end'>
                        {% if access_type.edit_platform_access is True %}
                            <button type="button" class="btn btn-primary" id='new_platform_btn'>New Platform</button>
                        {% endif %}
                    </div>
            </div>
        </div>

        <br>
        <!-- Messages  -->
        {% if messages %}
                <div class="row">
                    <div class="col">
                        {% for message in messages %}
                        <div class="alert{% if message.tags %} alert-{% if message.tags == 'error' %}danger{% elif message.tags == 'success' %}success{% elif message.tags == 'warn' %}warning{% endif %}           {% endif %}">
                            {{ message|safe }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                
                {% if request.user.is_authenticated %}            
                <table id="platformlist-table" class="table" style="width:100%">
                    <thead class='table-dark'>
                        <tr>
                            <th>System Name</th>   
                            <th>OS Name</th>
                            <th>OS Version</th>
                            <th>Python Version</th>
                            <th>Django Version</th>
                            <th width="250px">Vunerabilities<br>Python/Ubuntu/NPM/DependaBot</th>
                            
                            <th>Responsible Group</th> 
                            <th>Last Sync</th>                                            
                                             
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id='platformlist-tbody'>
                        <tr>
                            <td colspan="8" class='text-center'>No Results</td>
                        </tr>
                    </tbody>
                </table>
                
                <script>
                    appmonitor_platform.init();
                </script>
                <style>
                    .status-box-white {
                        color: #FFF;
                        padding: 3px;   
                        font-weight: bold;
                        border-radius: 4px;             
                        width: 70px;
                        text-align: center;                  
                        height: 30px;
                    }
                    .status-box-black {
                        color: #000;
                        padding: 3px;   
                        font-weight: bold;
                        border-radius: 4px;                                 
                        width: 70px;
                        text-align: center;
                        height: 30px;
                    }


                </style>
                {% else %}
                You are not authenticated.  Please login
                
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
<div class="container">

    <div class='alert alert-danger'>Access Forbidden</div>
</div>
{% endif %}
{% endblock %}
