<html >
<body style='background-color: #e6e6e6;padding:10px;'>

<div style='background-color: #FFFFFF; padding:20px;'>
    <table bgcolor='#FFFFFF' cellpadding="0" cellspacing="0" style="padding:20px">
    <tr><td>
    <div><img src="{% include "appmonitor/email/dbca_logo_base64_img.html"%}" style='height:100px'></div>
    <br>
    <p>Report Data for "{{report_name}}":</p>
    <p>Total Tasks : {{ total_tasks }}</p>



    <table style="width:100%"  cellpadding="0" cellspacing="0">
    <thead class='table-dark'>
        <tr>{% for col in column_array_table %}            
                <th style="font-weight: bold; text-align: left; color: #FFFFFF; background-color: #222; margin: 0; padding: 6px 4px; border: 1px solid #474747;">{{ col }}</th>  
            {% endfor %}                            
        </tr>
    </thead>
    <tbody >
        
        {% if work_items_data %}
        
            {% if sort_order == 1 %}
                {% for row in work_items_data %}
                    <tr>    
                       

                    {% for column_loop_key, column_loop_value in row.items %}  

                            {% if column_loop_key == "Custom.PriorityStatus" %}
                                {% if column_loop_value == "Urgent" %}
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc; "><A href="{{ value.url }}">{{ value.id }}</a></td>          
                                            {% elif key == "Custom.PriorityStatus" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc; background-color: #aa0000;  text-align:center; color: #FFFFFF;">{{value}}</td>                                                              
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}
                                {% endif %} 
                            {% endif %}
                    {% endfor %}     
                    </tr>
                    {% endfor %}     

                    {% for row in work_items_data %}
                    <tr>
                    <!-- High -->
                    {% for column_loop_key, column_loop_value in row.items %}  
                            {% if column_loop_key == "Custom.PriorityStatus" %}
                                {% if column_loop_value == "High" %}
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;"><A href="{{ value.url }}">{{ value.id }}</a></td>          
                                            {% elif key == "Custom.PriorityStatus" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc; background-color: #d47f00; text-align:center;">{{ value }}</td>                                                                                                                  
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}
                                {% endif %} 
                            {% endif %}
                    {% endfor %}  
                    </tr>
                    {% endfor %} 
                    {% for row in work_items_data %}
                    <tr>
                    <!-- Medium -->
                    {% for column_loop_key, column_loop_value in row.items %}  
                            {% if column_loop_key == "Custom.PriorityStatus" %}
                                {% if column_loop_value == "Medium" %}
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;"><A href="{{ value.url }}">{{ value.id }}</a></td>   
                                            {% elif key == "Custom.PriorityStatus" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc; background-color: #004ddb; text-align:center;">{{ value }}</td>                                                           
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}
                                {% endif %} 
                            {% endif %}
                    {% endfor %}  
                    </tr>
                    {% endfor %}                     

                    
                    {% for row in work_items_data %}
                    <tr>
                    <!-- Low -->
                    {% for column_loop_key, column_loop_value in row.items %}  
                            {% if column_loop_key == "Custom.PriorityStatus" %}
                                {% if column_loop_value == "Low" %}
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;"><A href="{{ value.url }}">{{ value.id }}</a></td> 
                                            {% elif key == "Custom.PriorityStatus" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc; background-color: #9c9c9c; text-align:center;">{{ value }}</td>                                                             
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}
                                {% endif %} 
                            {% endif %}
                    {% endfor %}     
                    </tr>
                    {% endfor %} 
                    {% for row in work_items_data %}
                    <tr>
                    
                    <!-- Low -->
                    {% for column_loop_key, column_loop_value in row.items %}  
                            {% if column_loop_key == "Custom.PriorityStatus" %}
                                {% if column_loop_value == "Lowest" %}
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;"><A href="{{ value.url }}">{{ value.id }}</a></td>
                                            {% elif key == "Custom.PriorityStatus" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc; background-color: #cfcfcf; text-align:center;">{{ value }}</td>                                                                
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}
                                {% endif %} 
                            {% endif %}
                    {% endfor %}         
                    </tr>
                    {% endfor %} 
                    {% for row in work_items_data %}
                    <tr>
                    
                    <!-- Other -->
                    {% for column_loop_key, column_loop_value in row.items %}  
                            {% if column_loop_key == "Custom.PriorityStatus" %}
                                {% if column_loop_value != "Urgent" and column_loop_value != "High" and column_loop_value != "Medium" and column_loop_value != "Low" and column_loop_value != "Low" and column_loop_value != "Lowest" %}
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;"><A href="{{ value.url }}">{{ value.id }}</a></td>          
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}
                                {% endif %} 
                            {% endif %}
                    {% endfor %}                       


                </tr> 


                

                {% endfor %}            

            {% else %}
                    {% for row in work_items_data %}
                    <tr>
                   <!-- Other -->
                    {% for column_loop_key, column_loop_value in row.items %}  
                            {% if column_loop_key == "Custom.PriorityStatus" %}                                
                                    {% for key, value in row.items %}                                                                                                                                                     
                                            {% if key == "System.Id" %}
                                                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;"><A href="{{ value.url }}">{{ value.id }}</a></td>          
                                            {% else %}
                                                    <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ value }}</td>  
                                            {% endif %}                                                                                                                        
                                    {% endfor %}                                
                            {% endif %}
                    {% endfor %}    
                </tr>
                {% endfor %}
                
            {% endif %}
            
        {% else %}
            <tr>
                <td colspan="5" class='text-center'>No Results</td>
            </tr>
        {% endif %}
        
        
    </tbody>
</table>
<br>

<p><i>
This is an automated system generated notification.
</i>
<br>
System URL: <a href='{{ settings.APP_URL }}'>{{ settings.APP_URL }}</a>
</p>
</td>
</tr>
</table>
</body>
</html>