<html >
<body style='background-color: #e6e6e6;padding:10px;'>

<div style='background-color: #FFFFFF; padding:20px;'>
    <table bgcolor='#FFFFFF' cellpadding="0" cellspacing="0" style="padding:20px">
    <tr><td>
    <div><img src="{% include "appmonitor/email/dbca_logo_base64_img.html"%}" style='height:100px'></div>
    <br>
    <p>System Errors</p>

<table style="width:100%"  cellpadding="0" cellspacing="0">
    <thead class='table-dark'>
        <tr>
            <th style="font-weight: bold; text-align: left; color: #FFFFFF; background-color: #222; margin: 0; padding: 6px 4px; border: 1px solid #474747;">Error</th>    
        </tr>
    </thead>
    <tbody >
            {%  for se in system_errors %}
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >{{ se }}</td>               
            </tr>
            {% endfor %}
    </tbody>
</table>
<br>

<p><i>
This is an automated system generated notification.
</i>
<br>
System URL: <a href='{{ settings.APP_URL }}'>{{ settings.APP_URL }}</a>
</p>
</td>
</tr>
</table>
</body>
</html>