<html >
<body style='background-color: #e6e6e6;padding:10px;'>

<div style='background-color: #FFFFFF; padding:20px;'>
    <table bgcolor='#FFFFFF' cellpadding="0" cellspacing="0" style="padding:20px">
    <tr><td>
    <div><img src="{% include "appmonitor/email/dbca_logo_base64_img.html"%}" style='height:100px'></div>
    <br>
    <p>The following ticket has been updated.</p>

<table style="width:100%"  cellpadding="0" cellspacing="0">
    <thead class='table-dark'>
        <tr>
            <th style="font-weight: bold; text-align: left; color: #FFFFFF; background-color: #222; margin: 0; padding: 6px 4px; border: 1px solid #474747;">Key</th>   
            <th style="font-weight: bold; text-align: left; color: #FFFFFF; background-color: #222; margin: 0; padding: 6px 4px; border: 1px solid #474747;">Value</th>
        </tr>
    </thead>
    <tbody >
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >Ticket Number</td>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' ><A href='https://dbca.freshservice.com/a/tickets/{{ ticket.id }}'>{{ ticket.id }}</A></td>
                
            </tr>
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >Subject</td>
                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ ticket.subject }}</td>
            </tr>
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >System ID</td>
                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ ticket.custom_fields.system_id }}</td>
            </tr>
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >Status</td>
                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">
                    {% if ticket.status == 2 %}    
                        Open
                    {% elif ticket.status == 12 %}
                        Work in Progress
                    {% elif ticket.status == 3 %}
                        Pending
                    {% elif ticket.status == 4 %}
                        Resolved
                    {% elif ticket.status == 5 %}
                        Closed    
                    {% elif ticket.status == 8 %}
                        Waiting on Customer
                    {% elif ticket.status == 9 %}
                        Waiting on Third Party
                    {% elif ticket.status == 13 %}
                        Customer Replied
                    {% elif ticket.status == 15 %}
                        Pending Testing
                    {% elif ticket.status == 16 %}
                        Pending Deployment
                    {% else %}
                        Unknown ID ({{ ticket.status}})
                    {% endif %}
                    {{ check.mon_type }}
                
                
                </td>
            </tr>
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >Updated</td>
                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ ticket.updated_at }}</td>
            </tr>
            <tr>
                <td style='font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;' >Created</td>
                <td style="font-weight: normal; text-align: left; margin: 0; padding: 6px 4px; border: 1px solid #cccccc;">{{ ticket.created_at }}</td>
            </tr>
    </tbody>
</table>
<br>

<p><i>
This is an automated system generated notification.
</i>
<br>
System URL: <a href='{{ settings.APP_URL }}'>{{ settings.APP_URL }}</a>
</p>
</td>
</tr>
</table>
</body>
</html>